body{

}


main, footer, header {
    width: 100%;
    margin:auto;
    font-family: 'News Cycle', sans-serif;
}

nav, article, footer p {
    width: 1000px;
    margin: auto;
}

header{
    background-color: #FFFFFF;

}

main{
    background-image: url(img/banner.png);
    background-color: #31aa65;
    background-size: cover;
}

footer{

}

h1  {
    vertical-align: middle;
    padding-left:400px;
    display: inline;


}

nav {

    height: 95px;
    display:inline;


}

ul {
    text-align: right;
width: 50%;
display: inline-block;
padding-left: 310px;

}

 li {
     display: inline-block;
    margin-right:5px;
    padding-bottom: 10px;
    padding-right: 8%;

 }

 .rond {
     border-radius: 100%;
     padding-right: 2%;

 }

.intro {
    height: 825px;
    text-align: center;
    padding-top: 15%;
    color: white;

}
.bonjour {
    padding-top: 5%;

}

h3 {
    padding-top: 2.5%;
}

.black {
    background-color:  #2b3f48;
    color: white;
    border-radius: 12px;
    width: 30%%;
    /* height: 10%; */
    border: none;
}

.green {
    background-color:  #27ae61;
    color: white;
    border-radius: 12px;
    width: 30%%;
    /* height: 10%; */
    border: none;
}

.white {
    background-color:  #ffffff;
    color: #27ae61;
    border-radius: 12px;
    width: 30%%;
    height: 10%;
    border: none;

}
/* .nulla {
    padding-top:  10em;
} */

p {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 1000px;
    margin: auto;
}
.inter {
    text-align: center;
    padding-top: 5%;
    background-color: #ffffff;
    width: 100%;
    height: 610px;
}
.fin {
    text-align: center;
    padding-top: 5%;
    background-color: #27ae61;
    width: 100%;
    height: 600px;
    text-align: center;

}
.fusce {

}
