body{
    background-color: grey;
}

nav, main, footer, header {
    width: 1250px;
    margin:auto;
    background-color: yellow;
}


h1  {
    vertical-align: middle;
    margin-left: 143px;
    display: inline-block;

}

nav {

    height: 95px;
    /* border:solid 1px;
    border-left: none;
    border-right: none;
    vertical-align: middle;
    position: relative;  */
    display:inline-block;
}

ul {
    text-align: right;
width: 50%;
display: inline-block;
padding-left: 310px;

}

 li {
     display: inline-block;
    margin-right:5px;
    padding-bottom: 10px;

 }

 img {
     border-radius: 100%;
     padding-right: 8px;

 }
